
#profile{
    align-items: center;
    background-color: #000000;
    
    
    
}
#profie-img{
    margin: 20px;
    
}
#data{
    margin-left: 30px;
    margin-top: 20px;

    align-items: center;

    color:rgb(255, 255, 255) ;
    
}